@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html, body {
  background-color:#F9FAFB ;
  height: auto;
   scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
  font-family: var(--font-poppins);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


.lenis {
  scroll-behavior: auto;
}
@theme {
  --font-poppins: "Poppins", sans-serif;
}
